* {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Arial", bold;
  font-size: 50px;
  padding: 2rem;
}
body {
  min-height: 100vh;
}

p {
  font-size: 25px;

  padding-bottom: 2rem;
  padding-right: 2rem;
}
img {
  display: grid;
  margin-left: 15rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  float: left;
  width:  25rem;
  height: 25rem;
  object-fit: cover;
}
footer {
  position: sticky;
  top: 100%;
}
.site {
  background: #E7E5DF;
}
.title{
  padding: 3rem;
  background: #393E41;
}

.top {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: #9A7197;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: grid;
  grid-column: 1 / 4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #E7E5DF;
}

.card p {
  display: grid;
  grid-column: 3 / 4;
  margin-right: 20rem;
  padding-top: 10rem;
  padding-left: 3rem;
  background-color: #D3D0CB;
}
.book{
  background: orange;
  margin-left: 4rem;
  margin-right: 4rem;
}
.desc {
  display: grid;
  grid-column: 3 / 4;
  margin-right: 20rem;
  padding-top: 5.5rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  background-color: #D3D0CB;
}
.desc2 {
  display: grid;
  grid-column: 3 / 4;
  margin-right: 20rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  background-color: #D3D0CB;
}
.foot {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 25px;
  background-color: #8D86C9;

}
